/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #taskInput {
    padding: 8px;
    width: 60%;
  }
  
  #addButton {
    padding: 8px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  button {
    margin-left: auto;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
   */



















   body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    margin-top: 20px;
  }
  
  .task-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 60%;
  }
  
  .task-list-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 60%;
  }
  
  .task-list-container h2 {
    margin-top: 0;
  }
  

.delete-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  
  